/* Container */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Wrapper */
.loginWrapper {
  width: 80%;
  max-width: 1000px;
  display: flex;
  gap: 40px;
}

/* Left + Right */
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Logo */
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

/* Description */
.loginDesc {
  font-size: 22px;
  line-height: 1.4;
}

/* Login Box */
.loginBox {
  width: 100%;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.4);
}

/* Inputs */
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 16px;
  padding-left: 15px;
}

.loginInput:focus {
  outline: none;
  border-color: #1775ee;
}

/* Buttons */
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.9;
}

.loginRegisterButton {
  width: 70%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.loginRegisterButton:hover {
  opacity: 0.9;
}

/* Tablet Responsive */
@media (max-width: 992px) {
  .loginWrapper {
    width: 90%;
    gap: 20px;
  }

  .loginLogo {
    font-size: 42px;
  }

  .loginDesc {
    font-size: 18px;
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .loginWrapper {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .loginLeft {
    margin-bottom: 20px;
  }

  .loginLogo {
    font-size: 38px;
  }

  .loginDesc {
    font-size: 16px;
  }

  .loginBox {
    padding: 20px;
  }

  .loginRegisterButton {
    width: 100%;
  }
}

/*  Extra Small Screens */
@media (max-width: 480px) {
  .loginLogo {
    font-size: 32px;
  }

  .loginInput {
    font-size: 14px;
    height: 45px;
  }

  .loginButton {
    font-size: 16px;
    height: 45px;
  }
}
