.homeContainer {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
}

/*  Desktop Layout */

@media (min-width: 993px) {
  .homeContainer {
    flex-direction: row;
  }
}

/*  Tablet Layout */

@media (max-width: 992px) {
  .homeContainer {
    flex-direction: row;
  }
}

/*  Mobile Layout */

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
  }
}
